[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = https://github.com/othree/html5.vim
[submodule "bundle/jshint.vim"]
	path = bundle/jshint.vim
	url = https://github.com/walm/jshint.vim
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "neomru.vim"]
	path = bundle/neomru.vim
	url = https://github.com/Shougo/neomru.vim
[submodule "seti.vim"]
	path = bundle/seti.vim
	url = https://github.com/trusktr/seti.vim
[submodule "tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "tomorrow-theme.vim"]
	path = bundle/tomorrow-theme.vim
	url = https://github.com/csexton/tomorrow-theme.vim
[submodule "unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim-forcedotcom"]
	path = bundle/vim-forcedotcom
	url = https://github.com/ejholmes/vim-forcedotcom
[submodule "vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/omnisharp-vim"]
	path = bundle/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/vim-ps1"]
	path = bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
